* {
    margin: 0;
    padding: 0;
}

.container-wrapper{
    background:url("../images/heard_bg.png");
}

header{
    height:95px;
    width:1170px;
    margin: auto;
}
.logo{
    padding-left:15px;
    padding-top:15px;
    float: left;
    display: inline-block;
}

.logo img{
    height: 80px;
}

.nav{
    display: inline-block;
    width:680px;
    float:left;
    line-height: 42px;
    margin-top: 53px;
    margin-left: 55px;
    background-color: #4a4a4a;
}

.nav .nav-items .item{
    list-style: none;
    float: left;
}

.nav ul li a{
    font-size: 14px;
    padding: 11px 18px;
    color: #ccc;
    text-decoration: none;
}

.child-box{
    background-color: #4a4a4a;
    display: none;
}

.child-box ul li{
    list-style: none;
    line-height: 2;
}

.child-box ul li .child-item{
    text-decoration: none;
    padding: 5px 10px;
}



