* {
    margin: 0;
    padding: 0;
}

body{
    /*background: url("../images/bg.png");*/
}

.logo-img{
    display: block;
    width: 1000px;
    height: 200px;
    border-radius: 3px;
}

.container-wrapper{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family:"Microsoft YaHei",simsun;;
}

.nav{
    width: 1000px;
    background-color: rgba(71, 143, 150, 0.69);
    border-radius: 3px;
}

.nav .item{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 5px 0px;
    font-size: 14px;
    color: #fff;
}

.nav .item span{
    padding: 0px 10px;
    border-right: #ccc solid 1px;
}

.nav a.item:hover{
    color: #000;
}

.nav a.active{
    color: #000;
}

.user-operation{
	float:right;
}