<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
	<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
	<property name="url" value="jdbc:mysql://localhost:3306/mydb"></property>
	<property name="username" value="root"></property>
	<property name="password" value="root"></property>
    <property name="maxActive" value="100"></property>
    <property name="maxIdle" value="30"></property>
    <property name="maxWait" value="500"></property>
    <property name="defaultAutoCommit"  value="true"></property>
	</bean>
	 
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
	<property name="dataSource" ref="dataSource"></property>
	<property name="hibernateProperties">
	<props>
	<prop key="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</prop>
	<prop key="hibernate.show_sql">true</prop>
	</props>
	</property>
	<property name="mappingResources">
	   <list>
			<value>com/project/bean/Achievement.hbm.xml</value>
			<value>com/project/bean/Announcement.hbm.xml</value>
			<value>com/project/bean/Download.hbm.xml</value>
			<value>com/project/bean/Form.hbm.xml</value>
			<value>com/project/bean/News.hbm.xml</value>
			<value>com/project/bean/User.hbm.xml</value>
			<value>com/project/bean/Shortdec.hbm.xml</value>
	   </list>
	</property>
    </bean>
    
    <bean id="adminDao" class="com.project.DaoImpl.adminDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="shortdecDao" class="com.project.DaoImpl.shortdecDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="newsDao" class="com.project.DaoImpl.newsDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- 处理登陆的业务 -->
	<bean id="loginTo" class="com.project.admin.loginAction" scope="prototype">
		<property name="adminDao" ref="adminDao"></property>
	</bean>
	
	<!-- 保存基地介绍的业务 -->
	<bean id="adminShortdec" class="com.project.admin.shortdec" scope="prototype">
		<property name="shortdecDao" ref="shortdecDao"></property>
	</bean>
	
	<!-- 获取基地介绍的业务 -->
	<bean id="getShortdec" class="com.project.admin.getShortdec" scope="prototype">
		<property name="shortdecDao" ref="shortdecDao"></property>
	</bean>
	
	
	<!-- 保存基地介绍的业务 -->
	<bean id="saveShortdec" class="com.project.admin.saveShortdec" scope="prototype">
		<property name="shortdecDao" ref="shortdecDao"></property>
	</bean>
	
	<!-- 管理员浏览资讯的业务 -->
	<bean id="adminNews" class="com.project.admin.news" scope="prototype">
		<property name="newsDao" ref="newsDao"></property>
	</bean>
	
	<!-- 添加资讯的业务 -->
	<bean id="createNews" class="com.project.admin.createNews" scope="prototype">
	</bean>
	
	<!-- 保存资讯的业务 -->
	<bean id="saveNews" class="com.project.admin.saveNews" scope="prototype">
		<property name="newsDao" ref="newsDao"></property>
	</bean>
    
    
</beans>